<h2>We're Comin' To Your Town!</h2>
<h3>We'll Help You Party It Down!</h3>

<p>But we can't do it alone. If you wants to get funked up, add venues!<p>
<form action="/venues" method="post">
  <label for="place">Venue:</label>
  <input type="text" name="place">
  <button type="submit" class="btn btn-md btn-success">ROCK ON!</button>
</form>

<hr>
<p>Please select where <%= @band.name() %> plays!</p>
<form action="/add_venues" method="post">
  <input type="hidden" name="band_id" value="<%= @band.id %>">
  <% @venues.each() do |venue| %>
    <br><input type="checkbox" name="venue_ids[]" value="<%= venue.id %>">
    <%= venue.place %>
  <% end %>
  <br><br><button type="submit" class="btn btn-lg btn-danger">Armageddon It!</button>
</form>

<hr>
<div class="row">
  <div class="leftie">
    <p>Catch <strong><%= @band.name() %></strong> here:</p>
    <% @band.venues().each() do |ven| %>
      <p><%= ven.place %></p>
    <% end %>
  </div>
  <div class="rightie">
    <p>Need to make any <em>ch-ch-ch-changes</em>?</p>
    <form action="/band_update" method="post">
      <input type="hidden" name="_method" value="patch">
      <input type="hidden" name="band_id" value="<%= @band.id %>">
      <input type="text" name="new_name" placeholder="<%= @band.name() %>">
      <button type="submit" class="btn btn-sm btn-warning">Get rejiggy with it.</button>
    </form>
    <br>
    <p>Delete this band? This cannot be undone...</p>
    <form action="/band_kill" method="post">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="band_id" value="<%= @band.id %>">
      <button type="submit" class="btn btn-sm btn-info">We are never ever ever getting back together!</button>
    </form>
  </div>
</div>
<br>
<a href="/" class="btn btn-sm btn-primary">Take Me Home</a>
